[submodule "packaging/mutter"]
	path = packaging/mutter
	url = https://github.com/mKenfenheuer/mutter.git
	branch = farland/create-view-null-crtc-50.1
[submodule "packaging/kwin"]
	path = packaging/kwin
	url = https://github.com/mKenfenheuer/kwin.git
	branch = farland/virtual-outputs-off-seat-6.6.6
