pkgbase = farland-git
	pkgdesc = RDP server for Linux and Wayland, with headless multi-session
	pkgver = 0.0.1.r10.g429d1dd
	pkgrel = 1
	url = https://github.com/mKenfenheuer/farland
	install = farland.install
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	checkdepends = dbus
	checkdepends = python-dbus
	checkdepends = python-gobject
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = pkgconf
	makedepends = wayland-protocols
	makedepends = tomlplusplus
	makedepends = catch2
	depends = openssl
	depends = systemd-libs
	depends = libei
	depends = pipewire
	depends = mesa
	depends = libglvnd
	depends = libva
	depends = wayland
	depends = libxkbcommon
	depends = pam
	optdepends = xdg-desktop-portal: sharing the running desktop (--share)
	optdepends = gdm: headless GNOME sessions per user
	optdepends = plasma-workspace: headless Plasma sessions per user
	provides = farland
	conflicts = farland
	backup = etc/pam.d/farland
	source = farland-git::git+https://github.com/mKenfenheuer/farland.git
	sha256sums = SKIP

pkgname = farland-git
